<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Order </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
<!-- <app-order-in-process [customer]='customer'></app-order-in-process> -->
<!-- <app-order-in-process [order]='order'></app-order-in-process>
</ion-content> -->
<ion-card>
  <!-- <ion-card-header>
    
    <ion-card-title></ion-card-title>
  </ion-card-header>
 

  <ion-icon name="person"> </ion-icon>
  <span></span>


  <br><br>
  <ion-icon name="call"></ion-icon><br><br>
  <ion-icon name="mail"></ion-icon><br><br>
  <ion-icon name="location"></ion-icon><br><br>
  <ion-card-content>
  </ion-card-content>
</ion-card>